header 
    nav
        display: flex
        align-items: center
        justify-content: space-evenly
        background-color: $colorHeader
        height: auto
        text-transform: uppercase
        .logo
            a
                color: white
                text-decoration: none

        .navigation
            ul
                list-style: none
                display: flex
                justify-content: center
                margin-bottom: 0

                li
                    padding: 10px

                    a
                        padding: 10 px
                        text-decoration: none
                        color: grey
                        height: 150%
                    &:hover
                        background-color: $colorActive
                        cursor: pointer
                        border-top-left-radius: 5px
                        border-top-right-radius: 5px
                        a
                            color: white


    .banner 
        img
            width: 100%


